<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Welcome.</h1>
            <p>Add a list of Videos to a YouTube Playlist.</p>
        </div>
        <p>
            <%= status ? "Authorized!" : " Not Authorized!" %>
        </p>
        <div>
            <%- include('../partials/authorize'); %>
            <%- include('../partials/add'); %>
        </div>
        <div id="output"></div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <script src="reconnecting-websocket.js"></script>
    <script src="sockets.js"></script>
    <script>
        listen(message => {
            if(message && message.added) {
                let output = document.getElementById("output")
                output.innerHTML = `added: ${message.added} <br /> videos: ${message.videos} <br /> errors: ${message.errors}`
            }
            // TESTING WS
            // if(message && message.test) {
            //     let output = document.getElementById("output")
            //     output.innerHTML = `added: ${message.test} <br />`                
            // }
        })
    </script>
</body>

</html>