<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Welcome.</h1>
            <p>Add a list of Videos to a YouTube Playlist.</p>
        </div>
        <p>
            <%= status ? "Authorized!" : " Not Authorized!" %>
        </p>
        <div>
            <%- include('../partials/authorize'); %>
            <%- include('../partials/add'); %>

        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <script src="reconnecting-websocket.js"></script>
    <script src="sockets.js"></script>
    <script>
        listen(message => {
            console.log(message)
        })
    </script>
</body>

</html>