<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Welcome.</h1>
            <p>Add a list of Videos to a YouTube Playlist.</p>
        </div>
        <p>
            <%= status ? "Authorized!" : " Not Authorized!" %>
        </p>
        <div>
            <%- include('../partials/authorize'); %>
            <%- include('../partials/add'); %>
        </div>
        <div id="output"></div>
        <hr />
        <div id="retried"></div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <script src="reconnecting-websocket.js"></script>
    <script src="sockets.js"></script>
    <script>
        listen(message => {
            let output = document.getElementById("output")
            let retried = document.getElementById("retried")

            if(message && message.added) {
                output.innerHTML = `<br> added: ${message.added} <br /> videos: ${message.videos} <br /> result: ${message.result}`
            }

            if(message && message.adding) {
                output.innerHTML = `<br> adding: ${message.adding}`
            }
            if( message && message.retried) {
                let p = document.createElement("p");
                let parsed = JSON.stringify(message.retried.map(response => response.reason ? `${response.status} ${response.reason.videoId}` : `${response.status} ${response.value}`))
                p.innerHTML = `<br> retried: ${parsed} <br> interval: ${message.interval} <br> count: ${message.count} <hr>`
                retried.appendChild(p)
            }

            // TESTING WS
            // if(message && message.test) {
            //     let output = document.getElementById("output")
            //     output.innerHTML = `added: ${message.test} <br />`                
            // }
        })
    </script>
</body>

</html>